.word {
    padding:0 5px;
}

.sentence {
    margin: 10px 0;
}

.trg .word:hover {
    background-color: rgba(255, 0, 0, .5);
}
.sentence .trg:before{
	content: "Target ";
    font-family: monospace;
}
.sentence .src:before{
	content: "Source ";
    font-family: monospace;
}
