.word {
    padding:0 5px;
}

.sentence {
    margin: 10px 0;
}

.trg .word:hover {
    background-color: rgba(255, 0, 0, .5);
}
.sentence .trg:before{
	content: "Target ";
    font-family: monospace;
}
.sentence .src:before{
	content: "Source ";
    font-family: monospace;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
